:root {
    --azul-principal: #032490;
    --azul-hover: #3b82f6;
    --ciano-tech: #00d4ff;
    --fundo: #f4f7fb;
    --texto: #111827;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    background-color: var(--fundo);
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 30px;
    backdrop-filter: blur(10px);

    background: rgba(3, 36, 144, 0.8);
    border-bottom: 2px solid black;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* CENTRO */
.nav-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    flex: 1;
}

/* LINKS */
.links {
    display: flex;
    gap: 20px;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    position: relative;

    transition: color 0.3s ease;
}

.links a:hover {
    color: var(--ciano-tech);
}

/* LINHA ANIMADA */
.links a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1.5px;

    opacity: 0;
    background: #00d4ff;
    box-shadow: 0 0 5px #00d4ff,
        0 0 10px #00d4ff,
        0 0 20px #00d4ff;

    left: 0;
    bottom: -4px;

    transition: width 0.5s ease, opacity 0.5s ease;
}

.links a:hover::after {
    width: 100%;
    opacity: 1;
}


@media (max-width: 768px) {

    .navbar {
        flex-direction: column-reverse;
        gap: 15px;
        padding: 15px;

    }

    .nav-center {
        width: 100%;
    }

    .links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .login {
        width: 100%;
        justify-content: end;
    }
}

/* LOGO */
.logo img {
    height: 60px;
    object-fit: contain;
    filter: drop-shadow(0 0 5px rgba(0, 212, 255, 0.5));

    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.09);
}

/* BOTÂO DE LOGIN */
.login {
    display: flex;
    align-items: center;
    gap: 30px;
}

.login a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;

    background: linear-gradient(135deg, #00d4ff);
    padding: 10px 20px;
    border-radius: 25px;

    box-shadow: 0 0 5px rgba(0, 212, 255, 0.5),
        0 0 10px rgba(0, 212, 255, 0.3);

    transition: all 0.3s ease;
}


.login a:hover {
    transform: translateY(-2px) scale(1.05);

    background: linear-gradient(135deg, #00e0ff, #2563eb);

    box-shadow: 0 0 10px var(--ciano-tech),
        0 0 20px var(--ciano-tech),
        0 0 30px rgba(0, 212, 255, 0.5);

    color: black;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;


    transition: all 0.3s ease;
}

.cart img {
    width: 35px;
    height: 35px;

    filter: brightness(0) invert(1);
}

.cart img:hover {
    transform: scale(1.2);

    cursor: pointer;

}


/* FUNDO ESCURO */
.modal {
    display: none;
    position: fixed;
    z-index: 2000;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.6);

    justify-content: center;
    align-items: center;
}

/* CAIXA DO LOGIN */
.modal-content {
    background: var(--fundo);
    padding: 30px;
    border-radius: 15px;

    width: 300px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

    border: 2px solid rgba(0, 212, 255, 0.3);
    animation: aparecer 0.3s ease;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* INPUTS */
.modal-content input {
    padding: 10px;
    border-radius: 8px;
    border: rgb(56, 54, 54) solid 1px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);

}

/* BOTÃO */
.modal-content button {
    background: var(--ciano-tech);
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;

}

.modal-header {
    display: flex;
    justify-content: left;

}


.login-links {
    color: var(--ciano-tech);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    font-size: 13px;

}

.login-links a {
    transition: 0.2s;
}

.login-links:hover {
    text-decoration: underline;
    color: #ff4d4d;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* FECHAR */
.close {
    font-size: 24px;
    cursor: pointer;
    position: absolute;

    top: 25px;
    right: 30px;

}


.close:hover {
    color: red;
    transform: scale(1.2);
}

/* ANIMAÇÃO */
@keyframes aparecer {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.login a:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
}

.search {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

#searchForm {

    display: flex;
    width: clamp(200px, 50vw, 700px);


    transition: all 0.4s ease;

}

#searchForm:hover {
    transform: scale(1.02);
}

/* INPUT */
#searchInput {
    flex: 1;
    padding: 10px 15px;

    border: none;
    outline: none;

    border-radius: 30px 0 0 30px;
    background: #d1d8e9;
    color: var(--texto);

    box-shadow: 0 0 0 1px #1e293b;
}

/* BOTÃO */
#searchBtn {
    padding: 10px 15px;

    border: none;
    border-radius: 0 30px 30px 0;

    background: #d1d8e9;
    color: #1e293b;

    box-shadow: 0 0 0 1px #1e293b;
    border-left: none;

    cursor: pointer;
    transition: 0.3s;

}

#searchBtn:hover {
    background: #c7d0e5;
    transform: scale(1.08);
}


#searchForm:focus-within #searchInput,
#searchForm:focus-within #searchBtn {
    box-shadow: 0 0 10px var(--ciano-tech);
}

#searchResults {
    position: absolute;
    top: 100%;
    width: clamp(200px, 50vw, 700px);

    background: white;
    border-radius: 10px;
    margin-top: 5px;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

    display: none;
    flex-direction: column;
    z-index: 999;
}

@media (max-width: 500px) {

    #searchForm {
        width: 100%;
    }

    #searchInput {
        font-size: 14px;
    }

    #searchBtn {
        padding: 10px;
    }
}

/* --- LINHAS DE PRODUTOS */

/*BANNER*/
.hero {
    background: linear-gradient(135deg, #032490, #00d4ff);
    color: white;
    text-align: center;
    padding: 60px 20px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hero button {
    background: black;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;

    cursor: pointer;
    transition: 0.3s;
}

.hero button:hover {
    transform: scale(1.08);
}

@media (max-width: 600px) {

    .hero {
        padding: 40px 15px;
    }

    .hero h1 {
        font-size: 20px;
    }

    .hero p {
        font-size: 14px;
    }

    .hero button {
        padding: 10px 20px;
    }
}


/* --- ORGANIZAÇÃO DAS SEÇÕES --- */

section {
    margin-bottom: 40px;
}

/* CONTAINER DAS SEÇÕES */
.best-sellers,
.components,
.peripherals,
.accessories,
.devices {
    padding: 30px;
    background: var(--azul-principal);
    color: white;
}

/* GRID DE PRODUTOS */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

/* AJUSTE DOS TÍTULOS DENTRO DAS SEÇÕES */
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.arrow {
    color: white;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;

    transition: 0.3s;
    font-size: 28px;
    font-weight: bold;
}

.arrow:hover {
    transform: translateX(5px);
    color: var(--ciano-tech);
}

/* CARD DE PRODUTOS */

.product-card {
    background: white;
    border-radius: 15px;
    padding: 15px;

    text-align: center;
    color: var(--texto);

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    transition: all 0.3s ease;
}

.product-card p {
    font-size: 16px;
    font-weight: 400;
}

.product-card p:hover {
    color: var(--ciano-tech);
    transform: translateY(-2px);
    font-weight: bold;
}

.product-card:hover {
    transform: translateY(-6px) scale(1.02);
}

.product-card button {
    background: var(--ciano-tech);
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;

    transition: 0.3s;
}

.product-card button:hover {
    background: #00aacc;
    transform: scale(1.07);
}

.product-card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

@media (max-width: 500px) {

    .product-card {
        padding: 10px;
    }

    .product-card img {
        height: 140px;
    }

    .product-card h3 {
        font-size: 14px;
    }

    .product-card p {
        font-size: 13px;
    }
}

.footer {
    background: #0f172a;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.footer img {
    height: 60px;
    margin: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.footer-section {
    max-width: 300px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 14px;
    color: #cbd5f5;
}

@media (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
}


/* CONTAINER GERAL */
.related-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    margin-top: 40px;
}

/* LINKS EM LINHA */
.links-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* ESTILO DOS LINKS */
.links-container a {
    color: var(--ciano-tech);
    text-decoration: none;
    font-size: 14px;

    background-color: #344259;
    padding: 6px 12px;
    border-radius: 20px;

    transition: 0.3s;
}

.links-container a:hover {
    background-color: var(--ciano-tech);
    color: black;
    transform: translateY(-2px);
}

.result-item {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px;
    cursor: pointer;

    border-bottom: 1px solid #eee;
    transition: 0.2s;
}

.result-item:hover {
    background: #f0f0f0;
}

.result-item img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.result-info {
    display: flex;
    flex-direction: column;
}

.result-name {
    font-size: 14px;
    color: #000000;
}

.result-price {
    font-size: 13px;
    color: #00aacc;
    font-weight: bold;
}

.results-page {
    padding: 30px;
    background: var(--azul-principal);
    color: white;
    min-height: 100vh;
}